<div class="container">
  <div class="row mt-4">
    <table border  width="30%" height="50%">
     <tr>
       <th>投稿者</th>
       <th>登録日</th>
     </tr>
     <% @users.each do |user| %>
     <tr>
       <td><%= link_to user.nick_name, admin_user_path(user.id) %></td>
       <td><%= user.created_at.strftime('%Y/%m/%d/ %H:%M') %></td>
     </tr>
     <% end %>
    </table>
  </div>
</div>